{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<!-- Home page theme -->

   <div id="tf-home" class="text-center">
        <div class="overlay">
            <div class="content">
                <h1>Welcome to <strong><span class="color">Heroes 4 Hire</span></strong></h1>
                <p class="lead">When you have no one else to turn to we <strong>won't</strong> fail you</p>
                <a href="#tf-team" class="fa fa-angle-down page-scroll"></a>
            </div>
        </div>
    </div>
<! Home -->

<div class = "instructions"> 

<h2> Login Details</h2>
   <br>
    <p>Guest login - </p>
    <p>username: guest </p>
    <p>password: Iamguest001 </p>

    To Login, <a href="/accounts/login/"> click here</a>
    
<br><br>
<h2>Instructions</h2>
<br>

<p> 
To signup a here go to: Signup --> Heroes Signup
</p>

<br>

<p> To signup a customer go to: Signup --> Customer Signup</p>

<p>To view the list of customers go to: Customers --> Customer List
</p>

<br>

<p> To view the list of superheroes on our database go to: Heroes --> Heroes List
</p>

<br>

<p> When a hero is completing a mission it is important to update their status. To do this go to: Heroes --> Status Log
</p>

<br>

<p>
When a hero changes what team they are in it is important to udate this information. To do this go to: Heroes --> Current Team Log
</p> 

<br>

<p>
    To add a new team go to: Teams --> Team Signup
</p>

<p>
    To view the list of superhero team go to: Teams --> Team List
</p>
<br>
<p>
    To add a mission go to: Missions --> Mission Login </p>
    <p>
        Go view the list of missions go to: Missions --> Missions List </p>
        <p>
    Once a mission is finished it is important that a report detailing how the mission went, and whether it was successful or not is completed. To do this go to: Missions --> Mission Report
</p>

<br>
<p>
Heroes need to keep themselves up to date so they must attend classes. To create a new class go to: Classes -> Classes Log
    </p>
<p> To view the list of classes go to: Classes -> Classes List </p>
    <p>To add the attendances of heroes to a class go to: Classes -> Attendance Log </p>
    <p> To add a room go to: Classes --> Room Log </p>
    <p> To view the list of rooms go to: Classes --> Room List</p>
    <p> To add a new trainer for the classes go to: Classes --> Trainer Log</p>
    <p> To view the list of trainers go to: Classes --> Trainer List</p>
    
</div>


<!-- Team Page
    ==========================================-->
    <div id="tf-team" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h2>Helpful<strong> Links</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>

                <div id="team" class="owl-carousel owl-theme row">
                    <div class="item">
                        <div class="thumbnail">
                            <a href = "{% url 'heroes:heroes_signup' %}"><img src="{% static 'img/icons/superman.png' %}" alt="..." class="img-circle team-img"></a>
                            <div class="caption">
                                <h3>Heroes Signup</h3>
                                <p>This is where you can register your heroes. Be sure to complete all the fields!</p>
                                
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <a href="{% url 'heroes:hero_list' %}">    <img src="{% static 'img/icons/wonder-woman.png' %}" alt="..." class="img-circle team-img"> </a>
                            <div class="caption">
                                <h3>Heroes List</h3>
                                <p>You can find all of the registered heroes on this page.</p>
                                
                            </div>
                        </div>
                    </div>

                          <div class="item">
                        <div class="thumbnail">
                            <a href="{% url 'missions:mission_signup' %}"> <img src="{% static 'img/icons/missions.png' %}" alt="..." class="img-circle team-img"></a>
                            <div class="caption">
                                <h3>Missions Log</h3>
                                <p>The Missions Log is where you create new missions requested by the customers.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <a href="{% url 'trainings:class_signup' %}"><img src="{% static 'img/icons/classes.png' %}" alt="..." class="img-circle team-img"> </a>
                            <div class="caption">
                                <h3>Classes Log</h3>
                                <p>Register a new class for the heroes to participate in.</p>
                            </div>
                        </div>
                    </div>
                    
                     <div class="item">
                        <div class="thumbnail">
                            <a href = "{% url 'heroes:team_signup' %}"><img src="{% static 'img/icons/team.png' %}" alt="..." class="img-circle team-img"></a>
                            <div class="caption">
                                <h3>Team Signup</h3>
                                <p>This is where you can register you superhero team.</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
                   
              
{% endblock %}