{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<!-- Home page theme -->

   <div id="tf-home" class="text-center">
        <div class="overlay">
            <div class="content">
                <h1>Welcome to <strong><span class="color">Heroes 4 Hire</span></strong></h1>
                <p class="lead">When you have no one else to turn to we <strong>won't</strong> fail you></p>
                <a href="#tf-about" class="fa fa-angle-down page-scroll"></a>
            </div>
        </div>
    </div>
<! Home -->

<div class = "instructions"> 
<h2> Login Details</h2>
    <p>Guest login - </p>
    <p>username: guest </p>
    <p>password: Iamguest001 </p>

    To Login, <a href="/accounts/logout/"> click here</a>.

<h2>Instructions</h2>

<p> 
Go to the Signup tab to signup a hero or a customer
</p>

<p>
    Go to the Heroes tab to view the Heroes List, update the status of the hero, or update the details of the team they are in
</p>

<p>
    Go to Teams tab to view the Team List, and add a new team
</p>

<p>
    Go to Teams tab to add a new mission, view the mission list, and to declare a new report for a mission
</p>

<p> Go to the Customer tab to view the list of customers
</p>

<p>Go to the Classes tab to view the list of classes, add a new class, add attendance, add a new room, view the list of rooms, add a trainer, and view the list of trainers
</p>
</div>


<!-- Team Page
    ==========================================-->
    <div id="tf-team" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h2>Meet <strong>our team</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>

                <div id="team" class="owl-carousel owl-theme row">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/01.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Jenn Gwapa</h3>
                                <p>CEO / Founder</p>
                                <p>Do not seek to change what has come before. Seek to create that which has not.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/02.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Jenn Gwapa</h3>
                                <p>CEO / Founder</p>
                                <p>Do not seek to change what has come before. Seek to create that which has not.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="{% static 'img/team/03.jpg' %}" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Jenn Gwapa</h3>
                                <p>CEO / Founder</p>
                                <p>Do not seek to change what has come before. Seek to create that which has not.</p>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="img/team/04.jpg" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>Jenn Gwapa</h3>
                                <p>CEO / Founder</p>
                                <p>Do not seek to change what has come before. Seek to create that which has not.</p>
                            </div>
                        </div>
                    </div>
{% endblock %}