{% extends "base.html" %}

{% load staticfiles %}

{% block content %}

<div>
<h2> Login Details</h2>
Guest login:
username: guest
password: Iamguest001

<h2>Instructions</h2>
Go to the Signup tab to signup a hero or a customer
<p>
    Go to the Heroes tab to view the Heroes List, update the status of the hero, or update the details of the team they are in
</p>

<p>
    Go to Teams tab to view the Team List, and add a new team
</p>

<p>
    Go to Teams tab to add a new mission, view the mission list, and to declare a new report for a mission
</p>

<p> Go to the Customer tab to view the list of customers
</p>

<p>Go to the Classes tab to view the list of classes, add a new class, add attendance, add a new room, view the list of rooms, add a trainer, and view the list of trainers
</p>
</div>
{% endblock %}