django

# Configuration
django-enviro
django-secure
whitenoise

# Images
Pillow

# Python-PostgreSQL Database Adapter
psycopg2

# WSGI Handler
# ------------------------------------------------
gevent
gunicorn
